<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DishBoard</title>
    <style>
        body{
            background-color: aliceblue;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        a{
            text-decoration: none;
        }
        .textarea{
            border-style:groove;
            border-color:rgb(134, 240, 137);
            border-radius: 20px 20px 20px 20px;
            font-size:20px;
            height:70%;
            width:90%;
        }
        .textarea:focus{
            background-color:rgb(255, 236, 252);
        }
        .order{
            border-style:groove;
            border-color:rgb(134, 240, 137);
            border-radius: 20px 20px 20px 20px;
            font-size:20px;
            padding:15px;
            width:90%;
            background-color: rgb(255, 236, 252);
        }
    </style>
</head>